.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  border-radius: 25%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin: 5px auto;
}
